<!--The whole content below can be removed with the new code.-->
<div style="text-align:center">
  <h1>
    Welcome to {{title}}!!
  </h1>
</div>

<h3 class="first">Basic</h3>
<p-dataTable [value]="carsMod" [lazy]="false" [paginator]="true" [rows]="defaultRow" [rowsPerPageOptions]="[1,2,4,6,10]"
  [totalRecords]="totalRecords" (onLazyLoad)="loadCarsLazy($event)" #dt>

    <p-column field="vin" header="Vin" [filter]="true" filterPlaceholder="Search"></p-column>

    <p-column field="year" header="Year" [filter]="true" filterPlaceholder="Search"></p-column>

    <p-column field="brand" header="Brand (Custom)" [filter]="true" filterMatchMode="equals">
        <ng-template pTemplate="filter" let-col>
            <p-dropdown [options]="brands" [style]="{'width':'100%'}" (onChange)="dt.filter($event.value,col.field,col.filterMatchMode)" styleClass="ui-column-filter"></p-dropdown>
        </ng-template>
    </p-column>

    <p-column field="color" header="Color (Custom)" [filter]="true" filterMatchMode="in">
        <ng-template pTemplate="filter" let-col>
            <p-multiSelect [options]="colors" defaultLabel="All Colors" (onChange)="dt.filter($event.value,col.field,col.filterMatchMode)" styleClass="ui-column-filter"></p-multiSelect>
        </ng-template>
    </p-column>

</p-dataTable>